<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to
    <%= title %>
  </p>

  <iframe width="350" height="430" src="https://console.dialogflow.com/api-client/demo/embedded/2d893564-ea15-4cde-bac2-e6fb074d2779">
  </iframe>
</body>

</html>